
 .header{
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg-image.jpg);
    object-fit: contain;
} 
  .header-content{
font-family: 'SF Pro Display';
color: #ffffff;

  }
  .header-content h1{
    text-transform: uppercase;
    max-width: 500px;
  }
  .header-content p{
    max-width: 500px;
  }
  .btn-white{
    color: #000000;
  }
  .btn-black{
color: white;
background: #000000;
  }
  .header-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-left: 2rem;
  }

  .header-card img:hover{
      transform: scale(1.1);
      cursor: default;
  }
  .projects{
    margin-top: 5rem;
    padding-left: 1rem;
  }
  .project-head{
    display: flex;
    flex-direction: row;
    gap: 40rem;
  }
  .project-head p:hover{
    cursor: pointer;
    color: blue;
  }
  .project-card{
display: flex;
width: 500px;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 80px;
gap: 20px;
background: #ffffff;
  }
  .project-card img{
    width: 546px;
height: 298px;
object-fit: cover;
  }
  .project-card h4{
    font-size: 1rem;
  }
  .project-card small{
    font-size: 11px;
  }
  .Card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.date-wrapper{
  display: flex;
  gap: 21rem;
}
/*expertise*/
.expertise{
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
}
.show-toggle{
  display: none;
}
.expertise-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: flex-start;
  text-align: left;
  align-items: left;
  max-width: 700px;
  background: #FFFFFF;
}
.exp-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.expertise-wrapper img{
  width: 1100px;
  height: 398px;
}
.border{
  border-bottom: 1px solid #000000;
}
.button-wrapper{
  text-align: right;
  padding-right: 8rem;
  gap: 2rem;
}
/* team*/
.team{
  margin-top: 7rem;
}
.team-head{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  gap: 30rem;
}
.team-head p:hover{
  cursor: pointer;
  color: blue;
}
.team-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-left: 1rem;
}
.card-content{
  width: 317px;
  text-align: center;
}
.card-content img{
  width: 324px;
  height: 324px;
}
.card-content img:hover{
  transform: scale(1.1);
}
/*newsletter*/
.newsletter{
  margin-top: 7rem;
}
.newsletter-container{
  box-sizing: border-box;
  background: #FFFFFF;
border-width: 1px 0px;
border-style: solid;
border-color: #000000;
display: grid;
width: fit-content;
grid-template-columns:1fr 1fr ;
gap: 2rem;
}
.newsletter-left{
  padding: 3rem;
  padding-left: 3rem;
  justify-content: center;
}
.newsletter-left p{
  color: black;
}
.newsletter-left h1{
  font-size: 3rem;
  font-weight: 700;
}
.newsletter-right{
  display: flex;
  color: #ffffff;
  padding: 3rem;
  background: #000000;
}
.newsletter-right input{
  border: none;
  background: transparent;
  color: white;
  padding-top: 2rem;
}
.newsletter-right button{
  color: #000000;
}


@media screen and (max-width:1240px){
  .header-card{
   margin-top: 4rem;
     }
     .header-content h1{
      width: 300px;
    }
    .header-content p{
      width: 500px;
    }
    .projects{
      margin-top: 12rem;
      padding-left: 3rem;
    }
    .project-card img{
      width: 381px;
    height: 240px;
    }
    .project-card{
      width: 400px;
        }
        .project-head{
          gap: 35rem;
        }
        .date-wrapper h4{
          font-size: 0.8rem;
        }
        .date-wrapper{
          gap: 15rem;
        }
        .expertise{
          padding-left: 3rem;
        }
      
        .expertise-wrapper{
          width: 581px; 
          align-items: left;
        }
        .expertise-wrapper img{
          width: 850px;
        }
        .content{
          display: none;
        }
        .show-toggle{
        display: block;
        }
        .card-content img{
          width: 279.13px;
          height: 279.13px;
        }
        .team-wrapper{
          gap: 0rem;
          padding-left: 3rem;
        }
        .card-content{
          width: 250px;
        }
      }
  
@media screen and (max-width: 600px){ 
  .header{
    background-image: url(../images/mobile-bg.jpg);
  }
  .header-content p{
    max-width: 300px;
  }
  .header-card{
    grid-template-columns: 1fr;
  }
  .header-wrapper{
    justify-content: center;
   align-items: center;
   margin-left: 2.5rem;
  }
  .projects{
    margin-top: 3rem;
    padding-left: 1rem;
  }
  .project-card img{
    width: 344px;
    height: 240px;    
  }
  .project-card p{
    max-width: 350px;
  }
  .project-head{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-bottom: 1rem;
  }
  .project-head h1{
    font-size: 1.7rem;
  }
  .Card {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
.date-wrapper{
  display: flex;
  gap: 12rem;

}.expertise{
  padding-left: 1rem;
}
.expertise-head h1{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.expertise-wrapper img{
  width: 344px;
  height: 240px; 
}
.expertise-wrapper{
  max-width: 350px;
}
.button-wrapper{
  text-align: left;
  padding-right: 1rem;
  gap: 2rem;
}
.team{
  margin-top: 7rem;
}
.team-head{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  gap: 4rem;
}
.team-head h1{
  font-size: 1.5rem;
}
.team-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-left: 1.2rem;
}
.card-content{
  width: 317px;
  text-align: center;
}
.card-content img{
  width: 324px;
  height: 324px;
}
.card-content img:hover{
  transform: none
}

.newsletter-container{
grid-template-columns:1fr ;

}
.newsletter-left{
  padding: 3rem;
  padding-left: 1rem;
  justify-content: center;
}

.newsletter-right button{
  color: #000000;
  margin-top: 4rem;
}

}