.footer-container{
    background: #000000
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        padding: 50px;
        color: #ffffff;
    }
    .logo h2{
        font-size: 1.5rem;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

    }
    
    .footer-content p{
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-socials{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
    .footer-socials a{
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-content h4{
    
    color: #FFFFFF;
    
    }
    .footer-content h5, .h5{
    color: #FFFFFF;
    }
    .footer-copyright small{
        font-size: 0.8rem;
    }
    .footer-copyright{
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    }
    @media screen and (max-width: 600px){
        .footer-wrapper{
            display: grid;
            grid-template-columns: 1fr; 
        }
    }    